<div class="row">
<footer class="container-fluid" style="margin-top: 100px;">
  <p class="text-center" style=" background-color: black;">
    Copyright©Rails101
    <br>
    Design by cuishirui
  </p>
</fooer>
</div>
